In [ ]:
import sqlite3
con=sqlite3.connect(":memory:")
query='Select datetime("now", "localtime")'
cursor=con.cursor()
time=cursor.execute(query)
time.fetchone()

('2025-01-13 20:58:36',)

In [ ]:
with sqlite3.connect('students.db') as conn:
    cursor=conn.cursor()
    query='Create table Students(fname text, class int, age int);'
    cursor.execute(query)

OperationalError: table Students already exists

In [ ]:
with sqlite3.connect('students.db') as conn:
    cursor=conn.cursor()
    query='Insert into Students Values("Sohibjon", 12, 18);'
    data=cursor.execute(query)
data.fetchone()

In [ ]:
with sqlite3.connect('students.db') as conn:
    cursor=conn.cursor()
    query='Select * from Students order by age'
    data=cursor.execute(query)
data.fetchall()

[('Sohibjon', 12, 18),
 ('Sohibjon', 12, 18),
 ('Sohibjon', 12, 18),
 ('Sohibjon', 12, 18),
 ('Sohibjon', 12, 18),
 ('Sohibjon', 12, 18)]

In [57]:
name=input("Name?")
clas=int(input("Clas?"))
age=int(input('age?'))
inputs=(name, clas, age)
query=(f"Insert into Students Values(?,?,?), {inputs}")
print(type(query))



with sqlite3.connect('students.db') as conn:
    cursor=conn.cursor()
    cursor.execute(f"Insert into Students Values(?,?,?)", inputs)

<class 'str'>