In [2]:
import sqlite3
with sqlite3.connect('roster1.db') as con:
    cursor=con.cursor()
    query="""Create table Roster(name text, species text, age int);
    Insert into Roster Values('Benjamin Sisko', 'Human', 40), 
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29);  
    
    """
    cursor.executescript(query)

OperationalError: table Roster already exists

In [3]:
with sqlite3.connect('roster1.db') as con:
    cursor=con.cursor()
    query="""Update Roster set name = 'Ezri Dax' where name = 'Jadzia Dax';
    """
    cursor.execute(query)

In [4]:
with sqlite3.connect('roster1.db') as con:
    cursor=con.cursor()
    query="Select name, age from Roster where species='Bajoran'"
    data=cursor.execute(query)
data.fetchall()
type(data)

sqlite3.Cursor

In [5]:
with sqlite3.connect('roster1.db') as con:
    cursor=con.cursor()
    query="Delete from Roster where age>100"
    data=cursor.execute(query)

In [6]:
import sqlite3
with sqlite3.connect('roster1.db') as con:
    cursor=con.cursor()
    query="""Alter table Roster add rank text;
    update Roster set rank="Captain" where name="Benjamin Sisko";
    update Roster set rank="Lieutenant" where name="Ezri Dax";
    update Roster set rank="Major" where name="Kira Nerys";
    """
    cursor.executescript(query)

OperationalError: duplicate column name: rank

In [ ]:
with sqlite3.connect('roster1.db') as con:
    cursor=con.cursor()
    query="Select * from Roster Order by age desc"
    data=cursor.execute(query)
data.fetchall()

(('Benjamin Sisko', 'Human', 40, 'Captain'),)